# A copy of this file goes into /etc/udev/rules.d/
# For reliable connection to dynamixels through USB2Dynamixel
SUBSYSTEMS=="usb",DRIVERS=="usb",ATTRS{product}=="FT232R USB UART",ATTRS{serial}=="A8005jPB",SYMLINK+="dynamixel"
SUBSYSTEMS=="usb",DRIVERS=="usb",ATTRS{product}=="FT232R USB UART",ATTRS{serial}=="A100S1G3",SYMLINK+="razor"
